.galleryImg{
	width: 100px;
	height: auto;
}

.selectGallery{
	float:right;
}

h2.titleView{
	background-color: black;
	color: white;
}

.titleGallery{
	border-bottom: 1px grey solid;
}

.paragraph{
	word-wrap: break-word;
}