h4.panel-title{
	padding-top: 0px;
	cursor: pointer;
}

.pnl{
	margin-bottom: 0px;	
}

.xbuton{
	display: inline-block;
	float: right;
	color: #a94442;
	margin-top: 3px;
}

.xbuton:hover{
	color: white;
	background-color: #a94442;
}

p.panels {
	padding-left: 10px;
	margin-top: 3px;
}